<div class="row">
  <div class="container">
    <h1 class="text-center">Listing Protocols</h1>
    <%= link_to 'New Protocol', new_protocol_path, class: "btn btn-primary pull-right" %>
  </div>
  <div id="protocols">
    <%= render @protocols %>
  </div>
  <div class="container">
    <%= will_paginate @protocols %>
  </div>
</div>
